@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  height: 100%;
  width: 100%;
  font-family: "Spartan", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .maincontainer {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center !important;
    background: url(images/bg-pattern-top-mobile.svg) top no-repeat,
      url(images/bg-pattern-bottom-mobile.svg) bottom no-repeat;
  }
  .deskcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .titleg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .title {
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(80, 32, 80);
    font-size: 1.6rem;
    margin-top: 4rem;
  }
  .description {
    width: 90%;
    text-align: center;
    color: rgb(147, 123, 146);
    font-size: 1.2rem;
  }
  .ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    padding-bottom: 0.2rem;
    background-color: rgb(247, 242, 247);
    border-radius: 10px;
    width: 85%;
    margin-bottom: 1rem;
  }
  .rated {
    color: rgb(80, 32, 80);
    font-weight: bold;
  }
  .fa-star {
    color: gold;
    text-align: center;
  }
  .comments {
    background-color: rgb(80, 32, 80);
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.4rem;
  }
  .comments:last-of-type {
    margin-bottom: 10rem !important;
  }
  .details {
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
  }
  .profpic {
    border-radius: 50%;
    width: 15%;
    height: 15%;
  }
  .name {
    color: white;
  }
  .status {
    color: rgb(238, 104, 164);
  }
  .cgroup {
    margin-left: 1rem;
  }
  .usercomment {
    color: white;
    margin: 0 2rem 2rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  html{
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-y: 0, 7rem;
    background-position-x: 0, 20rem;
  }

  .maincontainer {
    width: 100%;
    height: 100%;


  }
  .deskcontainer {
    margin: 0 5rem 0 5rem;

  }
  .title {
    margin-top: 5rem;
    color: rgb(80, 32, 80);
    font-weight: bold;
    font-size: 3rem;
    width: 70%;
  }
  .description {
    width: 78%;
    color: rgb(147, 123, 146);
  }
  /* Rating Section */
  .ratings {
    text-align: center;
    width: 100%;
    background-color: rgb(247, 242, 247);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  .rated {
    font-weight: bold;
    color: rgb(80, 32, 80);
  }

  .rategroup {
    width: 70%;
    margin-top: 5rem;
  }
  .flexgroup {
    display: flex;
  }
  .fa-star {
    color: rgb(235, 199, 0);
  }
  .r1 {
    transform: translateX(-3rem);
  }
  .r3 {
    transform: translateX(3rem);
  }
  .comments {
    background-color: rgb(80, 32, 80);
    border-radius: 10px;
    margin: 1rem;
    padding: 0 2rem 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .details {
    display: flex;
    flex-direction: row;
    padding: 1rem 0 0 0;
    margin: 1rem;
  }
  .profpic{
    width: 50%;
    height: 70%;
    border-radius: 50%;
  }
  .flexcontainer{
    width: 100% !important;
    display: flex;
    /* flex-basis: 33%; */
    justify-content: center !important;  
  }
  .details{
    display: flex;
    justify-content: center;
  }
  .name{
    color: white;
    width: 100%;
  }
  .status{
    color: rgb(238, 104, 164);
  }
  .usercomment{
    color: white;
    padding: .2rem;
    font-size: .8rem;
    padding-bottom: 1rem;
    line-height: 1.4rem;
  }

  .cgroup{
    width: 100%;
    padding-left: 1rem;
  }
  .c1{
    margin-bottom: 10rem;
  }
  .c2{
    transform: translateY(2rem);
    margin-bottom: 10rem;
  }
  .c3{
    transform: translateY(4rem);
    margin-bottom: 10rem;

  }
}
